body[type=body] div[type=tag]{
	width:100%;
	height:auto;
	-webkit-box-sizing:border-box;
	position:fixed;
	top:0;
	font-size:1rem;
	overflow:hidden !important;
	-webkit-user-select:none;
    user-select:none;
    -webkit-touch-callout: none;
    z-index:2;
}
div[type=tag] .tag{
    width:6rem;
    height:1.5rem;
    background: url(tagbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
div[type=tag] .tag span{
    color:#ffffff;
    font-size: 0.8rem;
    
}
div[type=tag] .tag10{
    margin-top:2.5rem;
    margin-left:16rem;
}
div[type=tag] .tag20{
    margin-top:1.5rem;
    margin-left:13rem;
}
div[type=tag] .tag21{
    margin-top:0.5rem;
    margin-left:16rem;
}
div[type=tag] .tag30{
    margin-top:1rem;
    margin-left:13rem;
}
div[type=tag] .tag31{
    margin-top:0.5rem;
    margin-left:16rem;
}
div[type=tag] .tag32{
    margin-top:0.2rem;
    margin-left:15rem;
}
div[type=tag] .tag40{
    margin-top:1rem;
    margin-left:13rem;
}
div[type=tag] .tag41{
    margin-top:0.2rem;
    margin-left:16rem;
    z-index: 2.5;
    position: relative;
}
div[type=tag] .tag42{
    margin-top:-1rem;
    margin-left:11rem;
}
div[type=tag] .tag43{
    margin-top:0.2rem;
    margin-left:15rem;
}