body[type=body]{
    width:100%;
    height:auto;
    -webkit-box-sizing:border-box;
    position:relative;
    font-size:1rem;
    background: url(images/bg.jpg) no-repeat;
    background-size: 100%;
    background-color: #efefef;
}
div[type=zhibujj] .table {
    width:100%;
    height:auto;
}
div[type=zhibujj] .headtop{
    width: 100%;
    /*background-color: #fb3d3d;*/

}
div[type=zhibujj] .info{
    color: #FFFFFF;
    font-size:0.8rem;
    background-color: #fb3d3d;
    padding: 1rem 1rem;
    text-indent: 2em;
}
div[type=zhibujj] .banner {
    background-color: #FFFFFF;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0.5rem 0;
}
div[type=zhibujj] .txicon {
    width: 4rem;
    height:4rem;
    margin: 0 auto;
    background-color: #FFFFFF;
}
div[type=zhibujj] .banner .zbinfo {
    color: #fb3d3d;
    padding-left: 0.5rem;
}
div[type=zhibujj] .alink{
    display: inline-block;
    color: #FFFFFF;
}
div[type=zhibujj] .banner  .zbinfo p{
    padding: 0;
    margin: 0;
    position: relative;
}
div[type=zhibujj] .banner .p_fist{
    background: url(images/icon01.png) 0.1rem center no-repeat;
    background-size: 1rem;
    padding-left: 1.2rem;
    font-size: 0.8rem
}
div[type=zhibujj] .banner .p_two{
    background: url(images/icon02.png) 0.1rem center no-repeat;
    background-size: 1rem;
    padding-left: 1.2rem;
    font-size: 0.8rem;
}
div[type=zhibujj]  .p_fist  span{
    text-decoration: underline;
    font-size: 1.2rem;
}
div[type=zhibujj]   .p_two  span{
    text-decoration: underline;
    font-size: 1.2rem;
}
div[type=zhibujj]  .zbinfo  .slipt{
    display:inline-block;
    width: 2px;
    height: 1rem;
    position:absolute;
    top:0.8rem;
    background-color: #fb3d3d;
}
div[type=zhibujj] .tr{
    background-color: #FFFFFF;
    margin-bottom: 0.5rem;
}
div[type=zhibujj] .title{
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    padding-left: 1rem;
}
div[type=zhibujj] .title span{
    display: block;
    width: 0.5rem;
    height: 1.5rem;
    background-color: #BE1E14;
    position: absolute;
    top:4px;
    left: 0
}
div[type=zhibujj] .kuai{
    width:25%;
    text-align: center;
    float: left;
    margin-bottom: 0.5rem;
}
div[type=zhibujj] .picon{
    width: 2.5rem;
    margin: 0 auto;
    height: 2.5rem;
    border-radius: 2.5rem;
    -moz-border-radius:2.5rem;
    background-clip: padding-box;
    border: 1px solid #BF1E16;

    
}
div[type=zhibujj] .list{
   padding: 1rem 0;
}
div[type=zhibujj] .list:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
