body[type=body] div[type=jfph]{
	width:100%;
	height:auto;
	-webkit-box-sizing:border-box;
	position:relative;
	font-size:1rem;
}
div[type=jfph] .table {
    width:100%;
    height:auto;
    background: white;
    margin-top: 1rem;
}
div[type=jfph] .icon {
    -webkit-box-flex: 1;
    position: relative;
}
div[type=jfph] .tr {
    height: 4.5rem;
    border-bottom: 1px solid #f2f2f2;
    display: -webkit-box;
    padding-left: 1rem;
}
div[type=jfph] .icon img{
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 0.8rem;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin-top: 1.1rem;
}
div[type=jfph] .icon .txt{
    font-size:0.8rem;
    color: #9c9c9c;
}
div[type=jfph] .icon span{
    font-size: 0.8rem;
}
div[type=jfph] .tab{
   display: table;
    height: 4.5rem;
}
div[type=jfph] .tab .a{
    display: table-cell;
    height: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
div[type=jfph] .left{
    width: 3rem;
    line-height: 4.5rem;
}
div[type=jfph] .right{
    min-width: 5.5rem;
    line-height: 4.5rem;
    font-size: 0.9rem;
    color: #bababa;
    margin-right: 1rem;
    text-align: center;
}
div[type=jfph] .fg{
    display:inline-block;
    font-size: 1.5rem;
    color: #0984ff;
}
div[type=jfph] .fg1{
    font-size: 1.5rem;
    padding-left: 0.3rem;
}
div[type=jfph] .f0{
    background: url(first.png)
}
div[type=jfph] .f1{
    background: url(second.png)
}
div[type=jfph] .f2{
    background: url(third.png)
}
div[type=jfph] .f0,div[type=jfph] .f1,div[type=jfph] .f2{
    display: inline-block;
    width: 1.6rem;
    height: 1.8rem;
    margin-top: 1.3rem;
    background-size: 100%;
    padding: 0!important;
}
div[type=jfph] .icon{
    font-size: 0.8rem;
}
