div[type=event_image]{
    width: 100%;
    height: auto;
    font-size: 1rem;
    position: relative;
    -webkit-box-sizing:border-box;
    background-color: #fff;
}
div[type=event_image] .loading {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 0%;
    background-color: #00aaff;
}
div[type=event_image] .tishi {
    position: absolute;
    -webkit-box-sizing:border-box;
    color: #ccc;
    z-index: 0;
    left: 0;
    top: 0;
    padding-left: 7rem; 
}
div[type=event_image] .boxrighttxt {
    color: #ccc;
    padding-left: 0.8rem;
}
div[type=event_image] .box {
    width: 100%;
    height: auto;
    -webkit-box-sizing:border-box;
    border: 1px solid #DEDEDE;
    border-radius: 0.1rem;
    padding: 0.8rem 0.8rem 0 0.8rem;
}

div[type=event_image] .addbtn {
    width: 5rem;
    height: 5rem;
    -webkit-box-sizing:border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/add.png);
    background-size: 3rem 3rem;
    border: 1px solid #DEDEDE;
    border-radius: 0.1rem;
    background-color: #fff;
    margin-right: 0.8rem; 
    margin-bottom: 0.8rem;
    position: relative;
}
div[type=event_image] .imgdiv {
    position: relative;
    width: 5rem;
    height: 5rem;
    -webkit-box-sizing:border-box;
    border: 1px solid #DEDEDE;
    border-radius: 0.1rem;
    background-color: #fff;
    float:left;
    margin-right: 0.8rem; 
    margin-bottom: 0.8rem;
}
div[type=event_image] .imgdiv select {
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
}
div[type=event_image] .imgdiv .text {
    position:absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    bottom: 0;
    left: 0;
    text-align: center;
}
