body[type=body] div[type=label] {
    width:100%;
    margin-left: auto;
    margin-right: auto;
	position:relative;
    display: -webkit-box;
	-webkit-box-sizing:border-box;
    font-size: 1rem;
}
div[type=label] span {
    font-size: 0.9rem;
    line-height: 1;
}