body[type=body] div[type=button] {
    width:100%;
    margin-left: auto;
    margin-right: auto;
	position:relative;
    display: -webkit-box;
	-webkit-box-sizing:border-box;
	-webkit-user-select:none;
    user-select:none;
    -webkit-touch-callout: none;
}
div[type=button] .button_a{
    -webkit-box-sizing:border-box;
    width:100%;
    text-align: center;
    line-height: 2.5;
    background-color: #aaaaaa;
    border-radius: 1.3rem;
    cursor: pointer;
}
div[type=button] .button_a {
  color: #fff;
}
div[type=button] .nobg {
    background: none;
}
div[type=button] .nobg:active {
    background: #fff;
}
div[type=button] .nobg:first-line {
  color: currentColor;
}
div[type=button] a{
    -webkit-user-select:none;
    user-select:none;
    -webkit-touch-callout: none;
}
