body[type=body] div[type=table11]{
	-webkit-box-sizing:border-box;
	width:100%;
	height:auto;
	-webkit-box-sizing:border-box;
	position:relative;
	font-size:1rem;
    margin-bottom: 1rem;
    overflow:hidden;
    background-color: #fff;
}
div[type=table11] .title{
    width: 100%;
    padding: 1rem;
}
div[type=table11] .icons{
    width: 2rem;
    height:2rem;
    vertical-align: middle;
    float: left;
    margin-right: 0.5rem;
}
div[type=table11] .table {
    width: 100%;
    height: 13.6rem;
    overflow:hidden;
    border-top: 1px solid #f1f1f1;
}
div[type=table11] .tr {
    width: 100%;
    height: auto;
}
div[type=table11] .td {
    text-align: center;
    width: 25%;
    float: left;
    display: block;
    color: #000;
    -webkit-box-sizing:border-box;
   padding:1rem 0.2rem;
}
div[type=table11] .td:last-child {
    border-right: none;
}
div[type=table11] .icon {
    margin: auto;
    width: 2.6rem; 
    height: 2.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.5rem;
    
}
div[type=table11] .label span{
    font-size: 1rem;
}
div[type=table11] .label {
    height: 1.3rem;
    line-height: 1.1rem;
    margin-top:0.5rem;
}
div[type=table11] .more{
    position: absolute;
    top: 9.7rem;
    left: 18.3rem;
    z-index: 20;
    background-color: #fff;
}
