body[type=body] div[type=zwjc]{
    width:100%;
    height:auto;
    -webkit-box-sizing:border-box;
    
}
body{
    background-color: #FFFFFF;
}
div[type=zwjc] .table {
    width:100%;
    height:auto;
   
}
div[type=zwjc] .content{
    
    display: inline-block;
    width: 50%;
    height:7rem;
    line-height:7rem;
    text-align: center;
    padding-top: 2rem;
    
}
div[type=zwjc] .title{
    width: 50%;
    margin: 0 auto;
    height: 100%;
    background-color: #32c6d0;
}

