body[type=body] div[type=sousuoinput1]{
    width: 100%;
    height: 2.5rem;
    line-height:1.5rem;
    font-size: 1rem;
    position: relative;
    background-color: #f7f7f7;
}
div[type=sousuoinput1] .tr {
    width: 100%;
    height: 2.5rem;
    -webkit-box-sizing:border-box;
    padding-right: 0.5rem;
}
div[type=sousuoinput1] .leftbtn {
    width: 2rem;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.1rem 1.1rem;
    background-image: url(jian.png);
}
div[type=sousuoinput1] .inputdiv {
    height: 1.5rem;
    margin-left: 0.5rem;
    -webkit-box-sizing:border-box;
    border-bottom: 1px solid #444;
    margin-top:0.5rem;
    padding-left: 1.8rem;
    
    background-position: 0.5rem center;
    background-repeat: no-repeat;
    background-size: 0.8rem 0.8rem;
    background-image: url(sousuo.png);
}
div[type=sousuoinput1] .input {
    width: 100%;
    border:none;
    background:none;
    color: #444;
    font-size: 0.8rem;
}
