body[type=body] div[type=button]{
	width:100%;
	height:auto;
	-webkit-box-sizing:border-box;
	position:relative;
	font-size:1rem;
}
div[type=button] .buttondiv {
    width:100%;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    color: #fff;
    background-color:#dedede;
    border: 1px solid #ccc;
    -webkit-tap-highlight-color: rgba(201, 224, 253, 0.5);
}