div[type=newslist]{
	-webkit-box-sizing:border-box;
	display: -webkit-box !important;
	position:relative;
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 0 0.83rem;
	-webkit-box-orient: vertical;
}

div[type=newslist] .tr {
    width:100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid #cccccc;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
div[type=newslist] .icon {
    -webkit-box-sizing:border-box;
    width: 3.6rem;
    height: 3.5rem;
    border: 1px solid #cccccc;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3.6rem 3.5rem;
}
div[type=newslist] .h {
    -webkit-box-sizing:border-box;
    width: 0;
    padding: 0 0.83rem;
    height: 3.5rem;
}
div[type=newslist] .h1 {
    height: 2.2rem;
    line-height: 1rem;
}
div[type=newslist] .h1 span{
    font-size: 0.8rem;
}
div[type=newslist] .h2 {
    color: #7c7c7c; 
    line-height: 1.5rem;
}
div[type=newslist] .h2 span{
    font-size: 0.7rem;
}