body[type=body] div[type=b]{
    width:100%;
    height:100%;
    position:relative;
    font-size:8px;
}
div[type=b] .banner{
   width:100%;
   height:50px;
   line-height:50px;
   background-image: url(mobile.png);
   background-position: center left 30px;
   background-repeat: no-repeat;
   background-size:20px;
   background-color: #0099ff;
   padding-left: 60px;
   color: #fff;
   font-size: 12px;
}
div[type=b] .center{
    width:80%;
    height:100%;
    margin: 0 auto;
    margin-top: 5px;
}
div[type=b] .left{
    width:20%;
    height:auto;
    background-color: #efefef;
    float: left;
}
div[type=b] .choose{
    
    background-color: #ddd;
    
}
div[type=b] .li{
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #fff;
}
div[type=b] .iframe{
    width:50%;
    height:100%;
    float: left;
    margin-left: 10px;
    border:none !important;
}

