body[type=body] div[type=xinwenlb]{
    width:100%;
    height:auto;
    -webkit-box-sizing:border-box;
    position:relative;
    font-size:1rem;
}
div[type=xinwenlb] .table {
    width:100%;
    height:auto;
}
div[type=xinwenlb] .icon {
    width: 6rem;
    height: 4rem;
    background-color: #EFEFEF;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
div[type=xinwenlb] .tr1 {
    width: 100%;
    height: 6rem;
    -webkit-box-sizing:border-box;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    margin-bottom: 0.5rem;
}
div[type=xinwenlb] .h {
    padding-left: 1rem;
    -webkit-box-sizing:border-box;
    height: 100%;
}
div[type=xinwenlb] .h1 {
    height: 2.5rem;
    line-height: 1.3rem;
}
div[type=xinwenlb] .h1 span {
    font-size: 1rem;
}

div[type=xinwenlb] .h2 span {
     color: #aaa;
}

div[type=xinwenlb] .yue {
    background-position: 0.1rem center;
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-image: url(images/yue.png);
    -webkit-box-sizing:border-box;
    padding-left: 1rem;
    margin-top: 0.5rem;
    height: 1.4rem;
    line-height: 1.4rem;
}
div[type=xinwenlb] .yue span{
   color: #aaaaaa;
}

div[type=xinwenlb] .ping {
    background-position: 0.1rem center;
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-image: url(images/ping1.png);
    -webkit-box-sizing:border-box;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    height: 1.4rem;
    line-height: 1.4rem;
}
div[type=xinwenlb] .ping span{
   color: #aaaaaa;
}
div[type=xinwenlb] .text {
    
    -webkit-box-sizing:border-box;
    padding-left: 1rem;
    margin-top: 0.5rem;
    height: 1.4rem;
    line-height: 1.4rem;
    
}
div[type=xinwenlb] .text span{
   color: #aaaaaa;
}

