body[type=body] div[type=erweima]{
	position:relative;
	width: 100%;
	height: 15rem;
	background-size: 100%;
    background-position:center;
    background-repeat:no-repeat;
	-webkit-box-sizing: border-box;
}
div[type=erweima] .content{
   width: 100%;
   height: 15rem;
   background-size: 6rem;
    background-position:center top 4rem;
    background-repeat:no-repeat;
}
div[type=erweima] .content2{
    position: absolute;
    left: 50%;
    top: 4rem;
    margin-left:-3rem;
   width: 6rem;
   height: 6rem;
}