body[type=body] div[type=img]{
    width:100%;
    height:auto;
    display: -webkit-box;
    -webkit-box-sizing:border-box;
    position:relative;
    font-size:1rem;
}
div[type=img] .tr {
    width: 100%;
    -webkit-box-sizing:border-box;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    margin-bottom: 0.5rem;
}
div[type=img] .tr1 {
    width: 100%;
    -webkit-box-sizing:border-box;
    background-color: #fff;
    line-height: 2.5rem;
}
div[type=img] .line {
    width: 100%;
    -webkit-box-sizing:border-box;
    padding-bottom: 1rem;
    background-color: #fff;
    flex-wrap:wrap;
}
div[type=img] .add {
    width: 6rem;
    height: 4rem;
    -webkit-box-sizing:border-box;
    background-image: url(add.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

div[type=img] .pic {
    width: 6rem;
    height: 4rem;
}
div[type=img] .zu{
    width: 6.5rem;
    height: 5rem;
    margin-right: 0.5rem;
    position: relative;
}
div[type=img] .cha {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    position: absolute;
    top: -0.5rem;
    right: 0rem;
    z-index: 66;
    background-image: url(cha.png);
    background-position: center;
    background-size: 80% 80%;
    background-repeat: no-repeat;
}
div[type=img] .pic {
    width: 6rem;
    height: 4rem;
    margin-right: 0.5rem;
}
