body[type=body] div[type=map2] {
    width:100%;
    height: auto;
	position:relative;
}
body[type=body] #map_amap {
    width:100%;
	height:100%;
    position: fixed;
    z-index: 2;
}
div[type=map2] .map_amap {
    width:100%;
	height:18rem;
}
div[type=map2] .back {
    width:2.5rem;
    height:2.5rem;
    border-radius:0.5rem;
    position: fixed;
    top:1rem;
    left:2rem;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    background-image: url('icon/left.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
}
div[type=map2] .list {
    width:100%;
	height:auto;
}
div[type=map2] .tr {
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem;
    -webkit-box-sizing:border-box;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
}
div[type=map2] .h1 {
    width: 100%;
    height: 2rem;
    line-height: 2.5rem;
    color: #111;
}
div[type=map2] .h2 {
    width: 100%;
    height: 1.5rem;
    line-height: 1rem;
}
div[type=map2] .h2 span {
    font-size: 0.8rem;
}