body[type=body] div[type=image]{
	width:100%;
	height:auto;
	display: -webkit-box;
	-webkit-box-sizing:border-box;
	position:relative;
	font-size:1rem;
}
div[type=image] .tr {
    width: 100%;
    -webkit-box-sizing:border-box;
    padding: 0 0.5rem;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    margin-bottom: 0.5rem;
}
div[type=image] .tr1 {
    width: 100%;
    -webkit-box-sizing:border-box;
    padding: 0 0.8rem;
    background-color: #fff;
    line-height: 2.5rem;
}
div[type=image] .line {
    width: 100%;
    -webkit-box-sizing:border-box;
    padding: 0 0.5rem 1rem 0.5rem;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}
div[type=image] .add {
    width: 4rem;
    height: 4rem;
    -webkit-box-sizing:border-box;
    background-image: url(add.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

div[type=image] .pic {
    width: 5.5rem;
    height: 4rem;
}

