@charset "utf-8";
/* 清除内外边距 */
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 62.5%;font-family: "微软雅黑";}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,figure,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
	list-style: none;
	-webkit-tap-highlight-color:transparent;
}
body,html{width:100%;margin:0 auto;position:relative;z-index:1;height: 100%;min-width: 320px;max-width: 640px;}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
input,textarea,select,code,kbd,pre,samp {font-size:100%;background:transparent;appearance: none;-webkit-appearance: none;}input,button,select,textarea{border:none;border:medium;outline: none;}去除iphone默认input样式
button {border:0 none;background-color:transparent;cursor:pointer}  /* 重置表单button按钮效果 */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{ 
	appearance: none;
	-webkit-appearance: none; 
  margin: 0; 
}*
/* 设置默认字体 */
body,button,input,select,textarea{ font: "微软雅黑", Tahoma, Helvetica, Arial, sans-serif; }
/* 重置列表元素 */
/* 重置列表元素 */
ul, ol { list-style: none; }
/* 重置文本格式元素 */
a {text-decoration:none;-webkit-tap-highlight-color:rgb(0,0,0,0);outline:none; }
a:focus { outline:none; }
a:hover{-webkit-user-select: none;}
 /* 取消a标签点击后的虚线框 */
a:active {star:expression(this.onFocus=this.blur());}
img{
	width:100%;
	border:none;
	vertical-align:middle;
	}
/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.pr{position: relative;}
cite,em,i{font-style:normal;}
.clearfix{clear:both;}
.fl{float: left;}
.fr{float: right;}
/* 媒介查询*/
@media screen and (min-width:240px) {
	html,body,button,input,select,textarea {
		font-size: 9px
	}
}
@media screen and (min-width:320px) {
	html,body,button,input,select,textarea {
		font-size: 12px
	}
}
@media screen and (min-width:380px) {
	html,body,button,input,select,textarea {
		font-size: 14px
	}
}
@media screen and (min-width:420px) {
	html,body,button,input,select,textarea {
		font-size: 16px
	}
}
@media screen and (min-width:450px) {
	html,body,button,input,select,textarea {
		font-size: 17px
	}
}
@media screen and (min-width:480px) {
	html,body,button,input,select,textarea {
		font-size: 18px
	}
}
@media screen and (min-width:540px) {
	html,body,button,input,select,textarea {
		font-size: 20.25px
	}
}
@media screen and (min-width:600px) {
	html,body,button,input,select,textarea {
		font-size: 22px
	}
}
@media screen and (min-width:640px) {
	html,body,button,input,select,textarea {
		font-size: 24px;
	}
}

/*箭头开始*/
.arrow_r{display: inline-block; width: 10px;  height: 10px;  overflow: hidden;margin-left:0.4rem;}
.arrow_r:before {content: '';display: block; width: 6px; height: 6px; border-left: 1px solid #bbb;border-top: 1px solid #bbb;margin: 2px 0 0 -2px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg);-ms-transform: rotate(135deg); -o-transform: rotate(135deg);transform: rotate(135deg);}
.arrow_l{display: inline-block; width: 10px;  height: 10px;  overflow: hidden;margin-left:0.8rem;}
.arrow_l:before {content: '';display: block; width: 6px; height: 6px; border-left: 1px solid #fff;border-top: 1px solid #fff;margin: 2px 0 0 -2px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg);-ms-transform: rotate(135deg); -o-transform: rotate(135deg);transform: rotate(135deg);}
.arrow_t{display: inline-block; width: 13px;  height: 10px;  overflow: hidden;margin-left:0.5rem;}
.arrow_t:before {content: '';display: block; width: 6px; height: 6px; border-left: 1px solid #bebebe;border-top: 1px solid #bebebe;margin-top:4px; margin-left: 1px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg);-ms-transform: rotate(45deg); -o-transform: rotate(45deg);transform: rotate(45deg);}
.arrow_d{display: inline-block; width: 9px;  height: 10px;  overflow: hidden;margin-left:0.8rem;}
.arrow_d:before {content: '';display: block; width: 7px; height: 6px; border-left: 1px solid #bebebe;border-top: 1px solid #bebebe; -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg);-ms-transform: rotate(225deg); -o-transform: rotate(225deg);transform: rotate(225deg);}
/*箭头结束*/
