body[type=body] div[type=renyuan]{
	width:100%;
	position:relative;
	-webkit-box-sizing:border-box;
	background-color: white;
}
div[type=renyuan] .rynum{
    position: absolute;
    width: 3rem;
    height: 2rem;
    line-height: 1.5rem;
    padding-left: 0.1rem;
    color: #fff;
    background-image: url("jian.png");
    background-position: left top;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    font-size: 0.9rem;
    z-index: 22;
}
div[type=renyuan] .td{
    width:70%;
}
div[type=renyuan] .hang{
    height: 1.5rem;
    line-height: 1.5rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #9a9a9a;
    font-size: 0.8rem;
}
div[type=renyuan] .imgdiv{
    height: 4rem;
    width: 4rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 4rem 4rem;
    border-radius: 100%;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
div[type=renyuan] .edit{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    right: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}
div[type=renyuan] .false{
    background-image: url(1-1.png);
}
div[type=renyuan] .true{
    background-image: url(1-2.png);
}
div[type=renyuan] .renyuan{
    background-image: url(moren.png);
}
div[type=renyuan] .louyu{
    background-image: url(ly.png);
}
/*div[type=renyuan] .iconimg1{
    width: 4rem;
    height: 4rem;
    
}
div[type=renyuan] .iconimg{
    width: 5rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: 4rem 4rem;
    background-position-x: center;
    background-position-y: center;
}*/