body[type=body] div[type=movebutton]{
	-webkit-box-sizing:border-box;
	position:relative;
	font-size:1rem;
    width: 100%;
    height: auto;
    background-color: white;
}
div[type=movebutton] .table{
	-webkit-box-sizing:border-box;
	position:relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
div[type=movebutton] .tr {
    width: 0;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
}
div[type=movebutton] .change {
    color: #fb3d3f;
}
div[type=movebutton] .line {
    -webkit-box-sizing:border-box;
    position: absolute;
    z-index: 99;
    bottom: -1px;
    left: 0;
    -webkit-transition: left 0.58s;
    -webkit-transition-timing-function: ease-out;
}
div[type=movebutton] .line div{
    width: 100%;
    height: 0;
    border: 1px solid #fb3d3f;
}